.text-20-black {
	font-family: Helvetica;
	font-size: 20px;
	letter-spacing: 0;
	color: #3b3b3b;
}
.text-18-black {
	font-family: Helvetica;
	font-size: 18px;
	color: #3b3b3b;
}
.text-12-gray {
	font-family: Helvetica;
	font-size: 12px;
	color: #a9a9b0;
}
.text-14-black {
	font-family: Helvetica;
	font-size: 14px;
	letter-spacing: 0;
	color: #3b3b3b;
}
.text-10-red, .button-active .text-10-gray {
	font-family: Helvetica;
	font-size: 10px;
	letter-spacing: 0;
	color: #f34949;
}
.text-10-gray {
	font-family: Helvetica;
	font-size: 10px;
	letter-spacing: 0;
	color: #a9a9b0;
}
.text-10-black {
	font-family: Helvetica;
	font-size: 10px;
	letter-spacing: 0;
	color: #3b3b3b;
}
body {
	margin: 0;
}
a {
	text-decoration: none;
}
.hide {
	display: none !important;
}
/*登陆界面样式*/

.contain-index, .slider-index, .member-index {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.contain-index {
	overflow: hidden;
	width: 90%;
	max-width: 400px;
	height: 100vh;
	margin-right: auto;
	margin-left: auto;
}
.slider-index {
	width: 100%;
	height: 65%;
	max-height: 450px;
	margin-top: 10px;
}
.slider-text .text-12-gray {
	line-height: 18px;
	text-align: center;
}
.slider-text .text-20-black {
	text-align: center;
}
#slider-pic {
	/*position: relative;*/
	width: 300%;
	height: 70%;
	/*transition: all 2s;*/
}
#slider-pic img {
	/*float: left;*/
	/*margin: 0;
	border: 0;
	padding: 0;*/
	position: relative;
	width: 33%;
	height: 100%;
	transition: transform 1s;
	border-radius: 12px;
}
.slider-dot {
	display: flex;
	width: 35px;
	justify-content: space-between;
}
.dot {
	display: inline-block;
	width: 5px;
	height: 5px;
	transition: background-color .2s ease;
	opacity: .3;
	border-radius: 50%;
	background: #a9a9b0;
}
.active {
	opacity: 1;
	background: #7e7d7d;
}
.member-index {
	box-sizing: border-box;
	height: 25%;
	max-height: 171px;
	margin-bottom: 15px;
}
.member-index button {
	font-family: Helvetica;
	font-size: 12px;
	width: 215px;
	height: 30px;
	text-align: center;
	letter-spacing: 0;
	border: none;
	border-radius: 8px;
	outline: none;
}
#signup-facebook {
	color: #fff;
	background: #3b5998;
}
#signup-google {
	color: #fff;
	background: #f14336;
}
#signup-email {
	color: #3b3b3b;
	background: #f8f8f8;
}
.member-index-or {
	font-family: Helvetica;
	font-size: 10px;
	text-align: left;
	letter-spacing: 0;
	color: #929292;
}
.login span {
	font-family: Helvetica;
	font-size: 12px;
	letter-spacing: 0;
	opacity: .7;
	color: #3b3b3b;
}
.login a {
	font-family: Helvetica;
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 0;
	color: #f34949;
}
/*主界面样式*/

.contain-home {
	/*
	display: flex;
	flex-direction: column;
	overflow: auto;*/
	width: 90%;
	max-width: 400px;
	height: 100vh;
	min-height: 200vh;
	margin-right: auto;
	margin-left: auto;
}
.user-home {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.user-photo {
	display: flex;
	flex-direction: column-reverse;
}
.user-photo img {
	width: 30px;
	height: 30px;
	border-radius: 15px;
}
.home-deli {
	font-family: Helvetica;
	font-size: 10px;
	color: #f34949;
}
.home-address-words {
	font-family: Helvetica;
	font-size: 16px;
	margin-left: 5px;
	letter-spacing: 0;
	color: #3b3b3b;
}
.home-address img {
	width: 20px;
	height: 20px;
}
.user-home {
	margin-top: 30px;
	margin-bottom: 35px;
}
.Recommended {
	height: 490px;
}
.Recommended-head .text-20-black {
	margin-top: 0;
	margin-bottom: 8px;
}
.Recommended-head .text-12-gray {
	margin-top: 8px;
	margin-bottom: 0;
}
.Recommended-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.viewall-home {
	font-family: Helvetica;
	font-size: 14px;
	text-decoration: none;
	letter-spacing: 0;
	color: #f34949;
}
.Recommended-card {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	height: 400px;
	padding: 20px;
	border-radius: 15px;
	background: #fff;
	box-shadow: 0 20px 30px 0 rgba(59, 59, 59, .05);
	justify-content: space-around;
}
.Recommended-card::after {
	width: 100%;
	height: 20px;
	margin-bottom: -40px;
	content: '';
	opacity: .5;
	border-radius: 0 0 15px 15px;
	background: #fff;
	box-shadow: 0 5px 20px 0 rgba(59, 59, 59, .05);
}
.Recommended-card img {
	width: 100%;
	height: 173px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 14px;
}
.Recommended-card>button {
	font-family: Helvetica;
	font-size: 12px;
	width: 100%;
	height: 30px;
	text-align: center;
	letter-spacing: 0;
	border: none;
	border-radius: 8px;
	outline: none;
}
.select-button {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.select-button button {
	display: flex;
	flex-direction: row;
	width: 110px;
	height: 30px;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: none;
	background: #fff;
	justify-content: space-between;
}
.select-button .button-active {
	border: 1px solid #f34949;
}
.Recommended-rate .red-star {
	color: #f34949 !important;
}
.Recommended-rate .gray-star {
	color: #a9a9b0;
}
#Recommended-add {
	color: #3b3b3b;
	background: #f8f8f8;
}
#Recommended-addcart {
	color: #fff;
	background: #f34949;
}
/*
.menu{
	margin-top: 40px;
}*/

.menu-content {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.menu-head {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 60px;
	background: white;
}
.menu-head span {
	position: fixed;
	top: 20px;
	left: calc(50vw - 26px);
}
.menu-head img {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 20px;
	height: 20px;
}
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.menu-item {
	width: 45%;
	height: 60vw;
	max-height: 240px;
}
.menu-item img {
	width: 100%;
	height: 41vw;
	max-height: 164px;
	border-radius: 13px;
}
.menu-nomore {
	font-family: Helvetica;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0;
	color: #a9a9b0;
}
/*商品界面样式*/

.contain-page {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 400px;
	height: 100vh;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
}
.page-pic {
	box-sizing: border-box;
	width: 100%;
	height: 100vw;
	max-height: 400px;
}
.page-text-flex {
	display: flex;
	flex-direction: column;
	height: 434px;
	padding-bottom: 10px;
	justify-content: space-around;
}
.page-text {
	overflow: auto;
	box-sizing: border-box;
	width: 100%;
	height: calc(100vh-100vw);
	padding-right: 20px;
	padding-left: 20px;
}
.item-info-text {
	line-height: 22px;
}
.page-pic img {
	width: 100%;
	height: 100%;
	border-radius: 0 0 15px 15px;
}
#page-addcart {
	font-family: Helvetica;
	font-size: 12px;
	width: 100%;
	height: 30px;
	text-align: center;
	letter-spacing: 0;
	color: #fff;
	border: none;
	border-radius: 8px;
	outline: none;
	background: #f34949;
}